{% extends "base.html" %}
{% block content %}
<div id="content-wrapper">
    <div class="container-fluid">
    <!-- DataTables Example -->
    <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table Example</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>City</th>
                      <th>Count of workers</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>id</th>
                      <th>City</th>
                      <th>Count of workers</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for dep in departments %}
                    <tr>
                      <td>{{ dep.id }}</td>
                      <td>{{ dep.city }}</td>
                      <td>{{ dep.count_of_workers }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

    </div>

    <div class="container-fluid">
       <div class="container">
          <div class="card card-login mx-auto mt-5">
            <div class="card-header">Add department</div>
            <div class="card-body">
              <form method="post">
                <div class="form-group">
                  <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control"
                           placeholder="City"
                           required="required" autofocus="autofocus" name="city">
                    <label for="inputEmail">City</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input type="text" id="inputPassword"
                           class="form-control" placeholder="Count of workers"
                           required="required" name="count_of_workers">
                    <label for="inputPassword">Count of workers</label>
                  </div>
                </div>
                <input class="form-control" type="submit" value="Add">
                <!--<a class="btn btn-primary btn-block" href="index.html">Login</a>-->
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}